src/META-INF/wsdl/DetalleRepOp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://osb.cla.cl" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://osb.cla.cl">
	<WL5G3N0:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://osb.cla.cl/types" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://osb.cla.cl" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://osb.cla.cl" xmlns="http://osb.cla.cl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://osb.cla.cl" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="Request_EAI121_DetalleDocumento">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Header">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Canal">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="30"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element minOccurs="0" name="Usuario">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="50"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element minOccurs="0" name="IdTransaccion">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="20"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="FechaTransaccion">
										<xsd:simpleType>
											<xsd:restriction base="xsd:dateTime"/>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Actividad">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Id">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="20"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Response_EAI121_DetalleDocumento">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="Documento">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="IdActividad">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="50"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="IdDocumento">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="50"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element maxOccurs="unbounded" minOccurs="0" name="Detalle">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="Id">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="50"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="Nombre">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="100"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="Extension">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="100"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="Tamano">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="200"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="Archivo">
													<xsd:simpleType>
														<xsd:restriction base="xsd:base64Binary"/>
													</xsd:simpleType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Estado">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Codigo">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Mensaje">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="200"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</WL5G3N0:types>
	<WL5G3N0:message name="DetalleRepIN">
		<WL5G3N0:part name="Request_EAI121_DetalleDocumento" element="WL5G3N1:Request_EAI121_DetalleDocumento"/>
	</WL5G3N0:message>
	<WL5G3N0:message name="DetalleRepOUT">
		<WL5G3N0:part name="Response_EAI121_DetalleDocumento" element="WL5G3N1:Response_EAI121_DetalleDocumento"/>
	</WL5G3N0:message>
	<WL5G3N0:portType name="DetalleRepOp">
		<WL5G3N0:operation name="DetalleRepINOperation">
			<WL5G3N0:input message="WL5G3N1:DetalleRepIN"/>
			<WL5G3N0:output message="WL5G3N1:DetalleRepOUT"/>
		</WL5G3N0:operation>
	</WL5G3N0:portType>
	<WL5G3N0:binding name="DetalleRepOpSOAP11Binding" type="WL5G3N1:DetalleRepOp">
		<WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<WL5G3N0:operation name="DetalleRepINOperation">
			<WL5G3N2:operation soapAction="http://osb.cla.cl/DetalleRepINOperation" style="document"/>
			<WL5G3N0:input>
				<WL5G3N2:body parts="Request_EAI121_DetalleDocumento" use="literal"/>
			</WL5G3N0:input>
			<WL5G3N0:output>
				<WL5G3N2:body parts="Response_EAI121_DetalleDocumento" use="literal"/>
			</WL5G3N0:output>
		</WL5G3N0:operation>
	</WL5G3N0:binding>
	<WL5G3N0:service name="DetalleRepOp">
		<WL5G3N0:port name="DetalleRepOpPort" binding="WL5G3N1:DetalleRepOpSOAP11Binding">
			<WL5G3N2:address location="http://lasiewebdev.ccaf.andes:8080/enterprise/EntDetalleDocumentoService"/>
		</WL5G3N0:port>
	</WL5G3N0:service>
</WL5G3N0:definitions>
